<h1>Listing records</h1>

<%#= link_to 'New Record', new_record_path %>

<%= render 'form' %>

<br />

<table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>Email</th>
    <th>Memo</th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.created_at.strftime('%m月%d日 %H時') %></td>
    <td><%= record.weight %> kg</td>
    <!-- email@domain を email に置換する-->
    <td><%= record.user.email.gsub(/(?<username>.+)\@.*/, '\k<username>') %></td>
    <td><%= record.memo %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

