<p>
  <b>Email:</b>
  <%= @record.user.email %>
</p>

<p>
  <b>Weight:</b>
  <%= @record.weight %>
</p>

<p>
  <b>Memo:</b>
  <%= @record.memo %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
